{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Table Thing</h1>

      <p>
        heres a table with a line at the top where the title row is wider than the body rows
      </p>

      <table>
        <thead>
          <!-- This is so theres a line at the very top -->
          <tr>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
          <!-- this is the actual heading the style is applied here -->
          <tr>
            <th style="height: 5em;" scope="col">Heading</th>
            <th scope="col">Heading</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>thing</td>
            <td>thing</td>
          </tr>
          <tr>
            <td>thing</td>
            <td>thing</td>
          </tr>
          <tr>
            <td>thing</td>
            <td>thing</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</main>

{% endblock %}
